global
  log 127.0.0.1   local0
  log 127.0.0.1   local1 notice
  #log loghost    local0 info
  maxconn <%= node[:haproxy][:global_max_connections] %>
  #debug
  #quiet
  user haproxy
  group haproxy
  <% if node[:haproxy][:stats_socket_level] %>
  stats socket <%= node[:haproxy][:stats_socket_path] %> level <%= node[:haproxy][:stats_socket_level] %>
  <% else %>
  stats socket <%= node[:haproxy][:stats_socket_path] %>
  <% end %>

defaults
  log             global
  mode            http
  option          httplog
  option          dontlognull
  option          forwardfor
  retries         <%= node[:haproxy][:retries] %>
  option          redispatch
  maxconn        <%= node[:haproxy][:default_max_connections] %>
  timeout client <%= node[:haproxy][:client_timeout] %>             # Client and server timeout must match the longest
  timeout server <%= node[:haproxy][:server_timeout] %>             # time we may wait for a response from the server.
  timeout queue  <%= node[:haproxy][:queue_timeout] %>              # Don't queue requests too long if saturated.
  timeout connect <%= node[:haproxy][:connect_timeout] %>           # There's no reason to change this one.
  timeout http-request <%= node[:haproxy][:http_request_timeout] %>	# A complete request may never take that long.
  <% if node[:haproxy][:httpclose] %>
  option          httpclose                                         # disable keepalive (HAProxy does not yet support the HTTP keep-alive mode)
  <% end %>
  <% if node[:haproxy][:http_server_close] %>
  option          http-server-close                                 # enable HTTP connection closing on the server side
  <% end %>
  option          abortonclose                                      # enable early dropping of aborted requests from pending queue
  option          httpchk                                           # enable HTTP protocol to check on servers health
  <% if node[:haproxy][:enable_stats] -%>
  stats auth <%= node[:haproxy][:stats_user] %>:<%= node[:haproxy][:stats_password] %>
  stats uri <%= node[:haproxy][:stats_url] %>
  <% end -%>
        
# Set up application listeners here.
<% if node[:haproxy][:rails_backends].blank? && node[:haproxy][:php_backends].blank? && node[:haproxy][:nodejs_backends].blank? && node[:haproxy][:static_backends].blank? && node[:haproxy][:java_backends].blank? -%>
listen application 0.0.0.0:80
  # configure a fake backend as long as there are no real ones
  # this way HAProxy will not fail on a config check
  balance <%= node[:haproxy][:balance] %>
  server localhost 127.0.0.1:8080 weight 1 maxconn 5 check
<% else -%>

  
<% if !node[:haproxy][:java_backends].empty? -%>
backend java_servers
  mode http
  balance <%= node[:haproxy][:balance] %>
  option redispatch
  option forwardfor
  option httpchk <%= node[:haproxy][:health_check_method] %> <%= node[:haproxy][:health_check_url] %>
  <% node[:haproxy][:java_backends].each do |backend| -%>
  server <%= backend['name'] %> <%= backend['ip'] %>:80 weight <%= backend['backends'] || 10 %> maxconn <%= backend['backends'] * node[:haproxy][:maxcon_factor_java_app] %> check inter <%= node[:haproxy][:check_interval] %>
  <% end -%>
<% end -%>



frontend http-in
  bind :80
  reqadd X-Forwarded-Proto:\ http
 
    
  <% if !node[:haproxy][:rails_backends].empty? -%>
  default_backend rails_app_servers
  <% elsif !node[:haproxy][:php_backends].empty? -%>
  default_backend php_app_servers
  <% elsif !node[:haproxy][:nodejs_backends].empty? -%>
  default_backend nodejs_app_servers
  <% elsif !node[:haproxy][:static_backends].empty? -%>
  default_backend static_servers
  <% elsif !node[:haproxy][:java_backends].empty? -%>
  default_backend java_servers
  <% end -%>
  
  frontend https-in
  bind *:443 ssl crt /etc/ssl/private/service-flow.com.pem
  mode http
  reqadd X-Forwarded-Proto:\ https 
 
  
  <% if !node[:haproxy][:rails_backends].empty? -%>
  default_backend rails_app_servers_ssl
  <% elsif !node[:haproxy][:php_backends].empty? -%>
  default_backend php_app_servers_ssl
  <% elsif !node[:haproxy][:nodejs_backends].empty? -%>
  default_backend nodejs_app_servers_ssl
  <% elsif !node[:haproxy][:static_backends].empty? -%>
  default_backend static_servers_ssl
  <% elsif !node[:haproxy][:java_backends].empty? -%>
  default_backend java_servers
  <% end -%>
  


<% end -%>  
